
<span class="main">
    <nav class="nav">
        <a (click)="get_group_post('Study Post')" [className]="StudyPostIsActive ? 'nav__link active' : 'nav__link'" >
            <span class="material-icons">
                dashboard
            </span>
            <span class="nav__text">Study Post</span>
        </a>

        <a (click)="get_group_post('Doubt Section')" [className]="DoubtSectionIsActive ? 'nav__link active' : 'nav__link'">
            <span class="material-icons">
                question_answer
            </span>                
            <span class="nav__text">Doubt Section</span>
        </a>

        <a (click)="get_group_post('Notice')" [className]="NoticeIsActive ? 'nav__link active' : 'nav__link'">
            <span class="material-icons">
                newspaper
                </span>
            <span class="nav__text">Notice</span>
        </a>



        <a (click)="get_group_post('Career Portal')" [className]="CareerPortalIsActive ? 'nav__link active' : 'nav__link'">
            <span class="material-icons">
                work
            </span>
            <span class="nav__text">Career Portal</span>
        </a>

        <a class="nav__link" (click)="open(NotificationContent)">
            <span class="material-icons">
                notifications
            </span>
            <span class="nav__text">Notifications</span>
        </a>
    </nav>

</span>


<!-- model Notification start -->
<ng-template #NotificationContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body notification-model-body" >
      <div>
        <app-notification></app-notification>
      </div>
      <div>
        <app-notification></app-notification>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
<!-- model Notification end -->